body {
    background-size: cover;
    background-color: #f8ab9c;
    width: auto;
    height: auto;
}

.online-panel ul li {
    text-decoration: none;
    list-style-type: none;
}

.online-panel li {
    background-color: #f58670;
    color: #FFF;
    padding: 20px 60px;
    cursor: pointer;
}

.online-panel ul {
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}

.online-panel li:hover {
    opacity: 0.8;
}

.online-panel .border-right {
    border-right: 1px solid white;
}

.users-list #background-li {
    background-color: #FFF;
    padding: 293px 236px;
    position: absolute;
    z-index:-999;
}

.users-list ul {
    display:flex;
    justify-content: center;
}

.users-list ul li {
    text-decoration: none;
    list-style-type: none;
}

.users-list li {

}
